/* CSS DO PORTFOLIO GERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f1f1f1;
}

header {
    background-color: #004d6e;
    color: #e8e8e8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
}

nav ul.right {
    margin-left: auto; 
}

section {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #e8e8e8;
}

h1,
h2,
h3 {
    margin-bottom: 10px;
}

.projeto {
    margin-bottom: 20px;
}

.projeto img {
    max-width: 100%;
}

footer {
    background-color: #004d6e;
    color: #e8e8e8;
    padding: 20px;
    text-align: center;
}

.botao,
.projeto-botao {
    display: inline-block;
    background-color: #004d6e;
    color: #e8e8e8;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.botao:hover,
.projeto-botao:hover {
    background-color: #4885e8;
}

.email-img {
    height: 1.6em;
    width: auto;
    vertical-align: middle;
    margin-right: 5px;
}

.instagram-img {
    height: 1.4em;
    width: auto;
    vertical-align: middle;
    margin-right: 5px;
}

.projeto-text {
    margin-left: 10px;
    margin-right: 10px;
}

.conquista-lista {
    list-style-type: disc;
    margin-left: 20px;
}

.perfil {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.perfil img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;
}

.perfil-info {
    text-align: center;
}

.sobre-mim {
    text-align: center;
}

@media (max-width: 768px) {
    header {
        display: flex;
        justify-content: center;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    section {
        max-width: 600px;
        margin: 0 auto;
    }

    .projeto {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .projeto img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .projeto-botao {
        margin-right: 0;
        margin-bottom: 10px; 
    }

    .perfil {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    nav ul li a {
        padding: 5px;
    }

    section {
        padding: 10px;
    }

    .projeto img {
        max-width: 200px;
    }

    .projeto-botao,
    .botao {
        padding: 8px 16px;
    }

    .perfil img {
        width: 80px;
        height: 80px;
    }
}