/* CSS DO PROJETO1 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f1f1f1;
}

header {
    background-color: #004d6e;
    color: #e8e8e8;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #e8e8e8;
}

.projeto-detalhes {
    display: flex;
    align-items: center;
}

.projeto-img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;
}

.projeto-texto {
    margin-left: 20px;
}

.botao-figma {
    display: inline-block;
    background-color: #004d6e;
    color: #e8e8e8;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.botao-figma:hover {
    background-color: #003854;
}

footer {
    background-color: #004d6e;
    color: #e8e8e8;
    padding: 20px;
    text-align: center;
}

@media (min-width: 769px) {
    .projeto-detalhes {
        flex-direction: row;
        justify-content: space-between;
    }

    .projeto-texto {
        margin-left: 0;
        flex-grow: 1;
    }
}