/* CSS DO PROJETO2 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f1f1f1;
}

header {
    background-color: #004d6e;
    color: #e8e8e8;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #e8e8e8;
}

.projeto-detalhes {
    display: flex;
    align-items: center;
}

.projeto-img img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;
}

.projeto-texto {
    margin-left: 20px;
}

footer {
    background-color: #004d6e;
    color: #e8e8e8;
    padding: 20px;
    text-align: center;
}

@media (min-width: 769px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    section {
        max-width: 800px;
        margin: 0 auto;
    }
}